*{
	margin: 0px;
}

#to{
	width: 100%;
	height: 64px;
	background-color: black;
}
#bian{
	width: 15%;
	height: 92.6vh;
	background-color: #212D3C;
	float: left;
}
#shou{
	max-width: 100%; 
	height: auto; 
	margin-bottom: 15px;
}
#pin{
	max-width: 100%;
	height: auto; 
	margin-left: 37%;
}
/* 操作员div部分 */
#cai{
	width: 15%;
	background-color: #212D3C;
	height: 64px;
	float: left;
	display: flex;
	justify-content: center; /* 水平居中 */
	align-items: center; /* 垂直居中 */
}
#tox{
	width: 50px;
	height:50px;
	border-radius: 50%;
	background-color:aqua;
	margin-top: 5px;
	background-image: url("../imgs/头像.jpg");
	background-size: cover; /* 图片尺寸按比例填充容器 */
	background-position: center; /* 图片在容器中居中 */
	background-repeat: no-repeat; /* 防止图片重复 */
}
#name{
	margin-left: 8px;
	font-weight: bold; /* 设置字体粗体 */
	font-size: 30px; /* 设置字体大小 */
	color: white;
}
/*  */
#lan{
	width: 85%;
	background-color: #f1f3f5;
	float: left;
}
#you{
	width: 20%;
	height: 64px;
	float: right;
	display: flex;
	justify-content: center; /* 水平居中 */
	align-items: center; /* 垂直居中 */
}
.ju{
	margin-left: 10px;
}
/* 天气 */
#tian{
	width: 98%;
	height: 120px;
	background-color: white;
	margin: 14px auto;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #888888;
}
#tian_1{
	width: 705px;
	height: 100%;
	margin: 0px auto;
}
.qi{
	width: 156px;
	height: 100%;
	background-color: white;
	float: left;
	margin: 0px 10px;
}
.shu{
	width: 23%;
	height: 200px;
	background-color: white;
	float: left;
	margin: 0px 1%;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #888888;
}
#den{
	width: 60%;
	height: 100%;
	background-color: white;
	float: left;
	margin: 25px 0px 0px 14px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #888888;
}
#din{
	width: 35%;
	height: 100%;
	background-color: white;
	float: left;
	margin: 25px 0px 0px 46px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #888888;
}

.xia{
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}
#tq{
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
}
#zhi{
	text-align: center;
	margin-top: 10px;
}
#you_t{
	padding:0px 10px 1px;
	margin-left: 10px;
	background-color: lawngreen;
	color: white;
}
.qi_1{
	display: flex;
	justify-content: center; /* 水平居中 */
	align-items: center; /* 垂直居中 */
	height: 100%;
	float: left;
}
.qi_2{
	height: 100%;
	float: left;
}
#zhou{
	font-size: 16px;
	margin: 30px 0px 0px 12px;
}
#qi_3{
	margin: 3px 0px 0px 12px;
}
#du{
	margin: 3px 0px 0px 12px;
}
.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease; /* 添加过渡效果 */
}
.hidden {
    display: none;
}
.min{
	width: 100%;
	height: 20px;
	font-size: 12px;
	color: #808080;
	padding: 12px 8px 0px 0px;
	background-color: rgba(255, 0, 0, 0); /* 完全透明的红色 */
}
.min p{
	margin-left: 10px;
}
.nei{
	width: 100%;
	height: 140px;
	background-color: white;
}
.nei p{
	margin-left: 10px;
	
}
.cha{
	width: 100%;
	height: 40px;
	background-color: rgba(255, 0, 0, 0); /* 完全透明的红色 */
}
.cha p{
	margin-left: 10px;
}
.bi{
	float: left;
	margin: 30px 0px 0px 0px;
	font-size: 14px;
	color: #808080;
}
.bi1{
	float: right;
	margin: 30px 40px 0px 0px;
	font-size: 14px;
	color: #808080;
}
.cha{
	font-size: 14px;
	color: #808080;
}
#shan_d p{
	margin: 3px 3px;
}
#sha_x{
	margin: 10px 10px;
	border: 1px #9d9292 solid;
}
#den{
	 overflow: hidden;
}
  #biao1 {
        width: 100%;
        border-collapse: collapse;
    }

    #biao1 th,
    #biao1 td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    #biao1 tr:nth-child(odd) {
        background-color: #f2f2f2; /* 设置偶数行背景色 */
    }

    #biao1 tr:first-child {
        background-color: #f1f1f1; /* 设置表头背景色 */
    }
#x {
        width: 100%;
        border-collapse: collapse;
		margin: 10px 0px ;
    }

    #x td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ddd;
    }

    #x tr:nth-child(odd) {
        background-color: #f2f2f2; /* 设置奇数行背景色 */
    }
	#accordion {
	  list-style: none; /* 取消所有菜单项的原点 */
	  padding: 0;
	  margin: 0;
	}
	
	#accordion > li {
	  display: block; /* 设置父菜单项为块级元素 */
	  width: 100%;
	  background-color: #212D3C;
	  font-size: 16px;
	  font-weight: bold;
	  color: white;
	  line-height: 64px;
	}
	.sub-items >li{
		padding-left: 10px;
	}
	#accordion .sub-items {
	  list-style: none; /* 取消子菜单的原点 */
	  padding: 0;
	  margin: 0;
	  display: none; /* 默认隐藏子菜单 */
	
	}
	
	#accordion .item {
	  cursor: pointer; /* 设置鼠标样式为手型 */
	}
	
	.hidden {
	  display: none; /* 隐藏元素 */
	}
	.item{
		width: 100%;
		height: 64px;
		font-size: 16px;
		font-weight: bold;
		color: white;
		background-color: black;
		padding-left: 10px;
		line-height: 64px;
	}
	.rotate {
	    transform: rotate(180deg);
	    transition: transform 0.3s ease;  /* 添加过渡效果 */
	}
	
	.xia {
	    transition: transform 0.3s ease;  /* 添加过渡效果 */
	}
	#fen{
		width: 100%;
		height: 35px;
		background-color: #212D3C;
	}
	.ton{
	width: 100%;
	height:129%;
	}
	.ton1{
		position: relative;
  	top: -40px; /* 相对于正常位置向下偏移 50 像素 */
	width: 100%;
	height:129%;
	}
.tony{
	position: relative;
    top: -25px; /* 相对于正常位置向下偏移 50 像素 */
    left: 100px; /* 相对于正常位置向右偏移 50 像素 */
	width: 80%;
	height: 129%;
}
.tonz{
	position: relative;
    top: -65px; /* 相对于正常位置向下偏移 50 像素 */
    left: 130px; /* 相对于正常位置向右偏移 50 像素 */
	width: 60%;
	height: 129%;
}